@import "tailwindcss";

body {
  background-color: #e6e6fa;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */




 
.prand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px 520px;
   width: 190px;
   height: 70px;
   border-radius: 12px;
   animation-timing-function: inherit;
   animation: alternate;
   animation-name: kemo;
   animation-duration: .9s; 
   animation-iteration-count: infinite;
   transition: .7s ease;
}

@keyframes kemo {
from {
  transform: scale(1.1);
}  
to {
  transform: scale(1.2);
}
}

.quiz{
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding: 0 !important;
  padding: 10px 0px;
  margin:0px 0px !important;
  align-items: center;
}

.content {
  /* background-color: black;
  color: white; */

}

.dark .content {
background-color: black;
color: black;

}

.dark .text1 {
  color: white;
}

.dark .text2 {
  color: white;
}

.dark .text3 {
  color: red;
}